*{
    box-sizing: border-box;/* respetar propiedades minimas y maximas de documento*/
    margin: 0;
    padding: 0;
  }
  .nav{
    background-color:#130b52; 
    height: 30px;
    margin: auto;
    color: white;
    text-align: center;
    
  }
  .nav a{
    color: white;
    text-decoration: none;
    padding-left: 30px;
  }
  .header{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: rgb(6, 46, 111);
    color: white;
    position: relative;
    /*background-image: url("");*/
  }

  .header img {/*permite que la imagen se ajuste al contenedor*/  
    width: 100%;
  }      
  .principal{
      background-color: #fafafa; /* color gris azulado */
      width: 70%;
      height: 700px;
  }
  .left-side{
      background-color: #fffacd; /* color beige */
      width: 15%;
      height: 700px;
      /*float: left;*/
  }
  .rigth-side{
      background-color: hsl(39, 30%, 89%); /* color naranja */
      width: 15%;
      height: 700px;
      /*float: right;*/
  }
  .content{
    
    display: flex;
      flex-wrap: wrap;/* si el elemento no cabe hace salto de linea*/
  }
  .pie-pagina{
      background-color: #130b52;
      height: 115px;
      color: white;
  }
