/** inicio configuracion inicial*/
*{
    box-sizing: border-box;/* respetar propiedades minimas y maximas de documento*/
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/** Ajustamos el REM del documento, recordar que el rem es:
la unidad por defecto del tamaño de fuente del documento html que es de 16px
**/
/*html{
   font-size: 62.5%; 
}*/

body {
    margin: 0;
    padding: 0;
}

#header, #container, #footer {
    width: 100%;
}

#header {
    height: 50px;
    border: 0px;
    background-color: #080231;
    color: #fff !important;
    display: flex;

}


#container{
    height: 500px;
    border: 0px;
}

.carousel-container {
    padding-bottom: 50px; 
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-info p {
    margin: 10px 0;
}

.footer-social {
    margin-top: 15px;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

#icon-container{
    width: 10%;
    border: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}

#banner-tech{
    width: 100%;
    height: 30%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002857;
}

#img-tech {
    width: 350px;
}

#controls-container{
    width: 10%;
    border: 0px;
    height: 50px;
}
 
#menu {
    border: 0px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-menu {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff !important;
}

.text-center {
    text-align: center;
    width: 100%;

}

.carousel-container {
    padding-bottom: 50px; 
}

.menu-button {
    background-color: #080231;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

/* Contenedor del menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para los botones dentro del menú */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilo para los botones dentro del menú */
.dropdown-content button {
    background-color: white;
    color: black;
    padding: 12px 16px;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

/* Cambiar color al pasar el mouse sobre un botón del submenú */
.dropdown-content button:hover {
    background-color: #ddd;
}

/* Mostrar el menú al hacer hover */
.dropdown:hover .dropdown-content {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

