/** inicio configuracion inicial*/
*{
    box-sizing: border-box;/* respetar propiedades minimas y maximas de documento*/
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/** Ajustamos el REM del documento, recordar que el rem es:
la unidad por defecto del tamaño de fuente del documento html que es de 16px
**/
/*html{
   font-size: 62.5%; 
}*/

body {
    margin: 0;
    padding: 0;
}

#header, #container, #footer {
    width: 100%;
}

#header {
    height: 50px;
    border: 1px solid yellowgreen;
    background-color: #080231;
    color: #fff !important;
    display: flex;

}

#container{
    height: 500px;
    border: 1px solid blue;
}

footer {
    border: 1px solid red;
    height: 50px;
}

#icon-container{
    width: 10%;
    border: 1px solid yellow;
    height: 100%;
    display: flex;
    align-items: center;
}

#banner-tech{
    width: 100%;
    height: 30%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002857;
}

#img-tech {
    width: 350px;
}

#controls-container{
    width: 10%;
    border: 1px solid green;
    height: 50px;
}
 
#menu {
    border: 1px solid orange;
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-menu {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff !important;
}

.text-center {
    text-align: center;
    width: 100%;

}
